%p#notice= notice

%p
  %b Employee:
  = @employee.employee_id
%p
  %b First name:
  = @employee.first_name
%p
  %b Last name:
  = @employee.last_name
%p
  %b Department:
  = @employee.department
%p
  %b Admin:
  = @employee.admin

= link_to 'Edit', edit_employee_path(@employee)
\|
= link_to 'Back', employees_path
