= form_for @timelog do |f|
  %p
    %strong Timelog ID:
    = @timelog.id

  %table
    %thead
      %th Moment
      %th Reported
      %th 
        = 'Claimed by Employee'
        %br/
        %span (ex: 5:35 pm)
    %tbody
      %tr
        %td Arrival
        %td= strftime_as_time(@timelog.arrive_datetime)
        - value = strftime_as_time(@timelog.claim_arrive_datetime)
        %td= f.text_field :claim_arrive_datetime, value: value
      %tr
        %td Departure
        %td= strftime_as_time(@timelog.leave_datetime)
        - value = strftime_as_time(@timelog.claim_leave_datetime)
        %td= f.text_field :claim_leave_datetime, value: value

  .actions
    = f.submit 'Submit', class: 'button'
    = link_to 'Cancel', timelogs_path, class: 'float-right button warning'
