= form_for @timelog do |f|
  %p
    %strong Timelog ID:
    = @timelog.id

  %table
    %thead
      %th Moment
      %th Reported
      %th 
        = 'Claimed by Employee'
        %br/
        %span (ex: 5:35 pm)
    %tbody
      %tr
        %td Arrival
        %td= moment_as_time_for_edit(@timelog.arrive_sec, 'Missed')
        %td= f.text_field :claim_arrive_sec, value: moment_as_time_for_edit(@timelog.claim_arrive_sec, nil)
      %tr
        %td Departure
        %td= moment_as_time_for_edit(@timelog.leave_sec, 'Missed')
        %td= f.text_field :claim_leave_sec, value: moment_as_time_for_edit(@timelog.claim_leave_sec, nil)

  .actions
    = f.submit 'Submit', class: 'button'
    = link_to 'Cancel', timelogs_path, class: 'float-right button warning'
