%h1 Listing timelogs

%table
  %thead
    %tr
      %th Employee
      %th Log date
      %th Arrive datetime
      %th Leave datetime
      %th Claim arrive datetime
      %th Claim leave datetime
      %th Claim status
      %th
      %th
      %th

  %tbody
    - @timelogs.each do |timelog|
      %tr
        %td= timelog.employee
        %td= timelog.log_date
        %td= timelog.arrive_datetime
        %td= timelog.leave_datetime
        %td= timelog.claim_arrive_datetime
        %td= timelog.claim_leave_datetime
        %td= timelog.claim_status
        %td= link_to 'Show', timelog
        %td= link_to 'Edit', edit_timelog_path(timelog)
        %td= link_to 'Destroy', timelog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Timelog', new_timelog_path
