= render './top_menu'
#timelogs_edit
  .row
    .column.medium-12
      %h2.page-title.text-center Reported Timesheet Error

      .column.small-10.small-offset-1.medium-6.medium-offset-3.large-4.large-offset-4.end
        %p
          %strong Employee:
          = @timelog.employee.full_name
        - if @period
          %p
            %strong Pay Period:
            = @period
        %p
          %strong Date Disputed:
          = @timelog.log_date.strftime '%a, %d-%b-%Y'

        %p
          %strong Claim Status:
          = @timelog.claim_status ? @timelog.claim_status.titlecase : nil

      .column.medium-8.medium-offset-2.end
        %br/

        %p
          %strong Timelog ID:
          = @timelog.id

        %table
          %thead
            %th Moment
            %th Reported
            %th 
              = 'Claimed by Employee'
          %tbody
            %tr
              %td Arrival
              %td= moment_as_time_for_edit(@timelog.arrive_sec, 'Missed',)
              %td= moment_as_time_for_edit(@timelog.claim_arrive_sec, nil,)
            %tr
              %td Departure
              %td= moment_as_time_for_edit(@timelog.leave_sec, 'Missed',)
              %td= moment_as_time_for_edit(@timelog.claim_leave_sec, nil,)

        .actions
          = link_to 'Timesheets', timelogs_path, class: 'button'
          = link_to 'Edit Report', edit_timelog_path(@timelog), class: 'float-right button'
