= form_for @timesheet do |f|
  - if @timesheet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timesheet.errors.count, "error")} prohibited this timesheet from being saved:"
      %ul
        - @timesheet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :employee
    = f.text_field :employee
  .field
    = f.label :period_start_date
    = f.date_select :period_start_date
  .field
    = f.label :period_end_date
    = f.date_select :period_end_date
  .field
    = f.label :logged_hrs
    = f.number_field :logged_hrs
  .field
    = f.label :logged_min
    = f.number_field :logged_min
  .field
    = f.label :pay_date
    = f.date_select :pay_date
  .field
    = f.label :approved
    = f.check_box :approved
  .actions
    = f.submit 'Save'
