%h1 Listing timesheets

%table
  %thead
    %tr
      %th Employee
      %th Period start date
      %th Period end date
      %th Logged hrs
      %th Logged min
      %th Pay date
      %th Approved
      %th
      %th
      %th

  %tbody
    - @timesheets.each do |timesheet|
      %tr
        %td= timesheet.employee
        %td= timesheet.period_start_date
        %td= timesheet.period_end_date
        %td= timesheet.logged_hrs
        %td= timesheet.logged_min
        %td= timesheet.pay_date
        %td= timesheet.approved
        %td= link_to 'Show', timesheet
        %td= link_to 'Edit', edit_timesheet_path(timesheet)
        %td= link_to 'Destroy', timesheet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Timesheet', new_timesheet_path
