%p#notice= notice

%p
  %b Employee:
  = @timesheet.employee
%p
  %b Period start date:
  = @timesheet.period_start_date
%p
  %b Period end date:
  = @timesheet.period_end_date
%p
  %b Logged hrs:
  = @timesheet.logged_hrs
%p
  %b Logged min:
  = @timesheet.logged_min
%p
  %b Pay date:
  = @timesheet.pay_date
%p
  %b Approved:
  = @timesheet.approved

= link_to 'Edit', edit_timesheet_path(@timesheet)
\|
= link_to 'Back', timesheets_path
